.icons{
   display: flex;
   justify-content: center;
   
}

.main{
   display: flex;
   justify-content: center;
   height: 60vh;
   padding: 20px;
}



.b{
    border-radius: 80px;
    width: 180px;
    height: 180px;
    cursor: pointer;
    transition:0.3s
}

@media screen and (max-width: 632px) {
    .b{
        width: 140px;
    }
}

@media screen and (max-width: 434px) {
    .b{
        width: 120px;
        height: 140px;
    }
}

@media screen and (max-width: 367px) {
    .b{
        width: 100px;
        height: 120px;
    }
    .rock{
        margin-bottom: 50px;
    }
}

@media screen and (min-height: 800px) {
    .b{
        width: 100px;
        height: 120px;
    }
    .rock{
        margin-bottom: 200px;
    }
}



.rock{
    align-self: flex-end;
    border-radius: 80px;
    border-width: 20px;
    border-color: hsl(349, 71%, 52%) ;
    box-shadow: 6px 5px 4px hsl(349, 71%, 52%);
}



.paper{
    border-width: 20px;
    border-radius: 80px; 
    border-color: hsl(230, 89%, 62%);
    box-shadow: 6px 5px 4px  hsl(230, 89%, 62%);
}


.scissors{
    border-color:  hsl(39, 89%, 49%) ;
    border-radius: 80px;
    border-width: 20px;
    box-shadow: 6px 5px 4px  hsl(39, 89%, 49%);
}
